Source: ros-hydro-gps-umd
Section: misc
Priority: extra
Maintainer: Ken Tossell <ken@tossell.net>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://ros.org/wiki/gps_umd
Standards-Version: 3.9.2

Package: ros-hydro-gps-umd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-gps-common, ros-hydro-gpsd-client
Description: gps_umd metapackage
